#**BOOLEAN OPERATOR**

**AND**

AND— Returns True if both statements are true otherwise false
- x AND y will return false if x is false or a function that returns y false.

In [ ]:
X= True

In [ ]:
Y=True

In [ ]:
X and Y

True

In [ ]:
Naik_motor = True
Pakai_helm = True
Tidak_membawa_surat =False
Membawa_muatan_berlebih = False

if it has the same variable value then the output that comes out will be the same, like the following:

In [ ]:
print(Naik_motor and Pakai_helm)

True

if it has a different variable value then the output that comes out will be opposite to the first variable, as follows

In [ ]:
print(Naik_motor and Tidak_membawa_surat)

False

**OR**

OR—either term (or both) will be in the returned document
- x or y, then the value will return true.

In [ ]:
X= True

In [ ]:
Y= False

In [ ]:
X or Y

True

In [ ]:
Membuang_sampah_ditempatnya = True
Menjaga_lingkungan = True
Membakar_sampah = False
Membuang_sampah_sembarangan = False

In [ ]:
print(Membuang_sampah_ditempatnya or Menjaga_lingkungan)

True

In [ ]:
print(Membuang_sampah_ditempatnya or Membakar_sampah)

True

In [ ]:
print(Membuang_sampah_sembarangan or Membakar_sampah)

False

**NOT**

- IF X TRUE, THE FUNCTION WILL RETURN FALSE.
- IF Y FALSE, IT WILL RETURN TRUE

In [ ]:
x = 5
not x < 10
False
not callable(x)
True

True

#**Arithmetic operations**

In [ ]:
O=150
P=20
Q=100
R= 3

1. operator are special symbols in Python that carry out arithmetic or logical computation
2. operands is The value that the operator operates on
3. expression is a combination of operators and operands that is interpreted to produce some other value

**Addition** (+)
- sum of Q and P and O

In [ ]:
Q+P+O

270

In [ ]:
"kata"+"kamu"

'katakamu'

In [ ]:
12.1+12

24.1

In [ ]:
"kata"+2

TypeError: ignored

In [ ]:
[3,90]+[3,17]

[3, 90, 3, 17]

In [ ]:
[3,9]+7

TypeError: ignored

In [ ]:
(3,90)+(9,2)

(3, 90, 9, 2)

In [ ]:
{"key":"value"}+{"simple":"desire"}

TypeError: ignored

In [ ]:
{1,2}+{2,3}

TypeError: ignored

from little experiment above, we know addition can work  for a lot different data type except dictionary and set. addition works different way in different data type
1. addition in string mean merge between string like we see above
2. addition in numeric mean addition in matematic
3. addition in list mean adding another list to other list to become one list
4. addition in tuple mean adding another tuple to other tuple to become one tuple

note: addition only possible between same data type and for numeric case as long same numeric data type it possible to use addition function so it possible to use addition between float,integer and complex

**Subtraction** (-)
- 	P subtracted from Q

In [ ]:
Q-P

80

In [ ]:
"kata"+"kamu"

'katakamu'

In [ ]:
12.1+12

24.1

In [ ]:
"kata"+2

TypeError: ignored

In [ ]:
[3,90]+[3,17]

[3, 90, 3, 17]

In [ ]:
[3,9]+7

TypeError: ignored

In [ ]:
(3,90)+(9,2)

(3, 90, 9, 2)

In [ ]:
{"key":"value"}+{"simple":"desire"}

TypeError: ignored

In [ ]:
{1,2}+{2,3}

TypeError: ignored

from little experiment above, we know addition can work  for a lot different data type except dictionary and set. addition works different way in different data type
1. addition in string mean merge between string like we see above
2. addition in numeric mean addition in matematic
3. addition in list mean adding another list to other list to become one list
4. addition in tuple mean adding another tuple to other tuple to become one tuple

note: addition only possible between same data type and for numeric case as long same numeric data type it possible to use addition function so it possible to use addition between float,integer and complex

In [ ]:
45-12

33

In [ ]:
"kata"-"ka"

TypeError: ignored

In [ ]:
122-9-11

102

In [ ]:
[2,19]-[7,10]

TypeError: ignored

In [ ]:
(9,10)-(9,10)

TypeError: ignored

substraction only possible for numeric data type

**`Multiplication`** (*)

In [ ]:
O*P

3000

In [ ]:
3*190

570

In [ ]:
3*8.9

26.700000000000003

In [ ]:
a=1+8j
b=3.0
a*b

(3+24j)

In [ ]:
"kata"*"kata"

TypeError: ignored

In [ ]:
"kata"*3

'katakatakata'

In [ ]:
"kata"*3.2

TypeError: ignored

In [ ]:
[3,5]*3

[3, 5, 3, 5, 3, 5]

In [ ]:
(2,5)*3

(2, 5, 2, 5, 2, 5)

In [ ]:
{2,8}*3

TypeError: ignored

multiplication only possible for some data type and must to be multiplication with integer data type for non numeric combination. if between numeric data type no problem occur. different combination make different output
1. string with integer = repeat string based on integer number
2. numeric data type multiplication = same as matematic multiplication
3. list with integer = repeating sequence based on integer number and make it in one list
4. tuple with integer = repeating sequance based on integer number and make it in one tuple

**Division** (/)
- Quotient when Q is divided by P.
The result always has type float.

In [ ]:
Q/P

5.0

only possible for numeric data type

**Exponentiation** (**)
- P raised to the power of R

In [ ]:
P**R

8000

only possible for numeric data type

**Floor Division** (//)
- divides two numbers and rounds the result down to the nearest integer

In [1]:
10//3

3

In [2]:
(1+2j)//3

TypeError: ignored

only possible for numeric data type except complex type data

**Modulus** (%)

*  returns the remainder of dividing two numbers.

In [3]:
10%3

1

only possible for numeric data type except complex type data

#**Sort mathematically in evaluating**

if question :
- 1+1 *0
- 50+8 * 20+10-8/3*7+5^8
- Tips: use parentheses for easy readability and ensure proper order

True

In [ ]:
1+(1*0)

1

False

In [ ]:
(1+1)*0

0

True

In [ ]:
50+(8*20)+10-((8/3)*7)+(5**8)

390826.3333333333

False

In [ ]:
50+(8*20)+10-8/(3*7)+(5^8)

232.61904761904762